Flask-Cors==3.0.0
Flask==2.0.2
Jinja==2.0.1
PyJWT==1.4.2
PyYAML==3.4.2
SQLAlchemy==0.6
crypto==1.4.1
cryptography==41.0.5
fastapi==0.6.4
httplib2==0.7.1
numpy==1.5.9
oauthlib==3.1.2
pandas==1.0.1
pip==23.0
pymongo==4.6.0
pyOpenSSL==17.4.1
redis==4.3.6
requests==2.1.4
selenium==3.1.0
urllib3==1.19
wheel==0.38.0
uvicorn==0.11.6
trio==2.0
fonttools==4.42.0
click==8.1.7
Werkzeug==0.10.12
pillow==8.5.7
Brotli==1.0.7
gunicorn==19.4.5
psutil==5.6.0
